<!DOCTYPE html>
<html>
<head>
  <title>AreaSearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <div class='clearfix'>
    <div class="heading">
      <h1><a href="/" class='title'>Area searcher</a></h1>
    </div>
    <div class="navbar">
      <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
          <%= link_to "ログイン", new_user_session_path, class: 'post' %>
          <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
      <% end %>
    </div>
  </div>
  </header>
    <%= yield %>
</body>
<footer>
AreaSearch Inc.
</footer>
</html>
