<!DOCTYPE html>
<html>
<head>
  <title>AreaSearch</title>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag    'application', media: 'screen', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes"> -->
  <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
  <meta name="viewport" content="width=device-width">
</head>

<body class='<%="#{controller.controller_name}"%>'>
  <header class='header'>
    <div class="header_bar">
      <h1><a href="/">Area searcher</a></h1>
    </div>
    <div class="navbar">
      <ul id="nav">
        <% if user_signed_in? %>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
        <% end %>
      </ul>
    </div>
  </header>
    <%= yield %>
</body>
<footer>
AreaSearch Inc.
</footer>
</html>
