<!DOCTYPE html>
<html>
<head>
  <title>AreaSearch</title>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag    'application', media: 'screen', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes"> -->
  <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
  <meta name="viewport" content="width=device-width">
</head>

<body class='<%="#{controller.controller_name}"%>'>
  <header class='header'>
    <div class="clearfix">

      <div class="header_left">
        <div id="sub_title">
          <span>今夜の飲み屋がきまらないあなたに送る...</span>
        </div>
        <div class="main_title">
          <div id="title">
            <a href="/">ぶら呑み＠東京</a>
          </div>
        </div>
      </div>

      <div class="header_right">
          <% if user_signed_in? %>
            <div class="header_right_right">
              <%#= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              <div class='link_box'>
                  <a href="<%= destroy_user_session_path %>", data-method="delete">
                    <div class="img_part">
                      <img src="/assets/icons8-エクスポート-filled-50.png" alt="signuo" />
                    </div>
                    <div class="text_part">
                      <span>ログアウト</span>
                    </div>
                  </a>
               </div>
            </div>
          <% else %>
            <div class="clearfix">
              <div class="header_right_left">
                <div class='link_box'>
                  <a href="<%= new_user_session_path%>">
                    <div class="img_part">
                      <img src="/assets/icons8-入る-filled-50.png" alt="login" />
                    </div>
                    <div class="text_part">
                      <span>ログイン</span>
                    </div>
                  </a>
               </div>
             </div>
            <div class="header_right_right">
              <div class='link_box'>
                  <a href="<%= new_user_registration_path%>">
                    <div class="img_part">
                      <img src="/assets/icons8-ユーザグループ追加-filled-50.png" alt="signuo" />
                    </div>
                    <div class="text_part">
                      <span>新規登録</span>
                    </div>
                  </a>
               </div>

            </div>
          </div>
          <% end %>
      </div>

    <div>


  </header>

    <%= yield %>
</body>
<footer>
AreaSearch Inc.
</footer>
</html>
